* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

html, body {
    background-color: #e8e8e8;
}

header {
    height: 70px;
    background-color: #FFE500;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #636363;
}
.container {
    width: 100%; /*Essencial para que a flexbix Funcione*/
    max-width: 960px;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
li{
    margin: 0 10px 0 0;
}
a{
   text-decoration: none; 
   color: unset;
}